body{ 
    width: 1440px;
    background-color: #fff;
    font-family: Roboto,sans-serif;
    color: #434455;
    font-style: normal;
    box-sizing: border-box;
    margin: 0 auto;}

ul{list-style-type: none;}

a{text-decoration: none;}

h1,h2,h3,p{
    margin-top: 0;
    margin-bottom: 0;}

ol,ul{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}

img{
    display: block;
    max-width: 100%;
}

.container{ 
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
   }
/* header */
.header{
    border-bottom: 1px solid  #E7E9FC;
}
.header-conteiner{display: flex;
align-items: center;
justify-content: space-between;
}
.nav{
    align-items: center;
    display: flex;
    }

.logo-web{
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.17;
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 76px;
}

.logo-studio{
    color: #2E2F42;
    }

.social-links .link{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    color: #2e2f42;
}

.social-links .link:hover,
.social-links .link:focus{
    color: #404BBF;}
.social-links{
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

 .address-links{
    display: flex;
   gap: 40px;}
.link{
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    padding-top: 24px;
    padding-bottom: 24px;
}

.link:hover, 
.link:focus{color: #404BBF;
}
.section{
    padding-top: 120px;
    padding-bottom: 120px;}
    /* hero */
.hero{background-color: #2E2F42;
padding: 188px 0;
}

   
.title-hero{
    max-width: 496px;
    color: #ffffff;   
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    text-align: center;
    margin: 0 auto;
}

.button{
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    padding: 16px 32px;    
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
     color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    background-color:#4D5AE5;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;}
.button:hover,
.button:focus{
    background-color: #404BBF;}
.visually-hidden{ 
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        border: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(100%);
        white-space: nowrap;
    }
.advantages-kont{ padding-left: 0;
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
   }
 .advantages-kont-link{
    width: calc((100% - 72px) / 4);
    
}
.advantages-title{
    align-items: flex-start;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 8px;
}
.advantages-text{
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    align-items: flex-start;
}
/* TEAM */
.section-team{
    background: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
  display: block;
 }
    
 .card-content{
    padding: 32px 0;
    text-align: center;
   }
.team-title{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing:0.02em;
    text-transform: capitalize;
    color:#2e2f42;
    margin-bottom: 72px;
}
.team-cont{display: flex;
   padding-left: 0; 
    gap: 24px;
   }
.team-card{ background-color: #FFFFFF;


    padding-bottom: 0px;
 

    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    }

.portfolio-section{
background-color: #FFF;}
   
.portfolio-title{ display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
    }
 .portfolio-cont { padding-left: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            column-gap: 24px;
            row-gap: 48px;
        }
.portfolio-card{
    width: calc((100% - 48px) / 3);
    padding-bottom: 0px;
    flex-shrink: 0;
    background: #FFF;       
}
.portfolio-card-content{
    max-width: 360px;
    display: flex;
    padding: 32px 16px;
    flex-direction: column;    
    align-items: flex-start;
    align-self: stretch;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-title-card{
    text-align: center;
    font-size:20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 8px
   }
.portfolio-text{
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
 }
/* footer */
.footer{ 
    display: flex;
    flex-direction: column;
    background-color: #2e2f42; 
    padding: 100px 0;
}
.footer-conteiner{display: block;
 }
.logo-web-footer{
    display: inline-block;
    margin-bottom: 16px;
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.17;
}

.logo-studio-footer{
    color: #f4f4fd;
}

.text-footer{
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
    font-weight: 400;
    max-width: 264px;
   }